@media (max-width: 550px) {

    .overlay,
    .opacity {
        height: 650px;
    }

    .overlay-header>img {
        width: 90px;
    }

    .overlay-content {
        top: 0;
    }

    .overlay-content>div>h1 {
        width: 90%;
        font-size: 26px;
        margin: auto;
    }

    .overlay-content>div>h2 {
        width: 90%;
        font-size: 18px;
        margin: auto;
    }

    .overlay-content>div>p {
        width: 90%;
        font-size: 18px;
        margin: auto;
        line-height: 1;
    }

    .overlay-content>div>form>input {
        height: 45px;
    }

    .overlay-content>div>form>button {
        height: 40px;
        width: 80px;
        font-size: 18px;
        margin-top: 15px;
    }

    .overlay-content>div>form>button>img {
        height: 14px;
        bottom: 6px;
    }
}