:root {
  --banner-height: 3.4rem;
  --view-width: 98.72vw;
}

body {
  background-color: black;
  font-family: 'Arial';
  margin: 0;
}

.background {
  width: var(--view-width);
}

.background > img {
  width: var(--view-width);
  margin-top: 12px;
}

.black-opacity {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4));
  position: absolute;
  top: var(--banner-height);
  width: var(--view-width);
  height: 111vh;
}

/* Banner */
.banner {
  height: var(--banner-height);
  width: var(--view-width);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.banner-news {
  color: white;
  background-color: #e50914;
  border-radius: 15px;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 8px;
}

.banner-offer {
  font-size: 15px;
}

.banner-offer > span {
  font-size: 18px;
  font-weight: bold;
}

.banner-more {
  display: flex;
  gap: 0.1rem;
}

.banner-more:hover {
  cursor: pointer;
}

.banner-more > a {
  color: #2a77eb;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.banner-more > img {
  height: 14px;
  width: 14px;
}

/* Netflix, Language and Login */
.text-language-login {
  position: absolute;
  top: 59px;
  width: var(--view-width);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-language-login > img {
  height: 56%;
  width: 15%;
  min-width: 100px;
  margin-left: 1.4rem;
}

.text-language-login select {
  background-color: black;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 2px;
  color: white;
  padding: 5px;
}

.text-language-login button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 7px 12px;
}

.text-language-login div {
  margin-right: 3rem;
  margin-bottom: 0.7rem;
  display: flex;
  gap: 27px;
}

.front-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-10%);
}

.front-text > h1 {
  font-size: 3rem;
  width: 640px;
  text-align: center;
  align-self: center;
  margin: 0px;
}

.front-text > h2 {
  font-size: 1.5rem;
  text-align: center;
}

.front-text > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front-text > form > span{
  align-self: center;
  margin-top: 10px;
}

.front-text > form > span > input {
  width: 450px;
  height: 60px;
  font-size: 1rem;
  border: 0px;
  padding: 0px;
  border-radius: 3%;
}

.front-text > form > span > button {
  width: 140px;
  height: 60px;
  color: white;
  background-color: red;
  font-size: 1rem;
  border: 0px;
  padding: 0px;
  border-radius: 3%;
}

.front-text > form > span > button > img {
  height: 1rem;
}

.front-text > form > label {
  font-size: 1.2rem;
}