body, html {

    background-color: black;
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

div {
    display: block;
}

.card-container {

    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;

}

* {
    letter-spacing: 0!important;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.animation-container {
    height: 100%;
    left: 50%;
    max-height: 47%;
    max-width: 63%;
    position: absolute;
    top: 34%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.animation {
    height: 100%;
    width: 100%;
}

.card-container .text-and-animation-container {

    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    flex-flow: row-reverse;
}


.card-container .text-and-animation-container .text-container  {
    padding: 0 0 0 3rem;
}


.card-container .text-container {
    margin: -2% 0;
}

.card-container .device-img {
    position: relative;
    z-index: 2;
}

.card-container .text-container {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
}

.card-container .media-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}

.card-container .img-and-animation-container {
    overflow: hidden;
    position: relative;
}

.card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px) {

    .card-container .text-and-animation-container {
        flex-flow: column;
        flex-direction: column;
    }

    .card-container .text-and-animation-container .text-container {
        padding: 0;
    }

    .card-container .text-container {
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .card-container .media-container {

    margin-top: 1em;
    max-width: 600px;
    width: 100%;
    }

    .card-container {
        padding: 70px
     45px;
    }
}

