@use "../main/root.scss" as var;

.banner {
    width: 100%;
    height: var.$banner-height;
    background-color: var.$bg-contrast;
    justify-content: center;
    gap: 22px;

    & > .news {
        background-color: var.$comp-primary;
        color: var.$text-primary;
        border-radius: 17px;
        font-size: 0.75rem;
        font-weight: 800;
        padding: 2px 10px 0 10px;
    }

    & > .offer {
        color: var.$text-banner-offer;
        font-size: 1.1rem;
        font-weight: 400;

        & > span {
            font-size: 1.3rem;
            font-weight: 800;
        }
    }

    & > .more {
        & > a {
            color: var.$text-banner-more;
            text-decoration: none;
            font-weight: 900;
            font-size: 0.9rem;
        }

        & > img {
            height: 17px;
            position: relative;
            top: 2px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}