body, html {

    background-color: black;
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    
}

div {
    display: block;
}

.card-container {

    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;

}

* {
    letter-spacing: 0!important;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.video-container {
    height: 100%;
    left: 50%;
    max-height: 47%;
    max-width: 63%;
    position: absolute;
    top: 34%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.tvCard {
    
    height: 100%;
    left: 50%;
    max-height: 55%;
    max-width: 100%;
    position: absolute;
    top: 48%;
    transform: translate(-50%,-50%);
    width: 100%;

}

.video {
    height: 100%;
    width: 100%;
}

.card-container .sub-container {

    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    
    
}

.flipped {

    flex-flow: row-reverse;
    
}


.card-container .sub-container .text {
    padding: 0 0 0 3rem;
}


.card-container .text{
    margin: -2% 0;
}

.card-container .device-img {
    position: relative;
    z-index: 2;
}

.card-container .eleven-img {
    position: relative;
}

.card-container .text{
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
}

.card-container .media-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}

.card-container .img-and-animation-container {
    overflow: hidden;
    position: relative;
}

.card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
}

.eleven {
    margin: -8% 0 -4% -15%;
    min-height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.download-div {

    padding: 0.5em 0.75em;
    align-items: center;
    background: #000;
    border: 2px solid hsla(0,0%,100%,.25);
    border-radius: 0.75em;
    bottom: 8%;
    box-shadow: 0 0 2em 0 #000;
    display: flex;
    justify-content: space-between;
    left: 50%;
    margin: 0 auto;
    min-width: 15em;
    padding: 0.25em 0.65em;
    position: absolute;
    transform: translateX(-50%);
    width: 60%;
    height: 96px;
}

.download-div img {
    height: 4.5em;
    max-width: 100%;
}

.download-icon {

    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) 50% no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    width: 3em;

}

.text-0 {
    font-size: 1em;
    font-weight: 500;
}

.text-1 {
    color: #0071eb;
    font-size: .9em;
    font-weight: 400;
}
@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px) {

    .card-container .sub-container {
        flex-flow: column;
        flex-direction: column;
    }

    .card-container .sub-container .text{
        padding: 0;
    }

    .card-container .text{
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .card-container .media-container {

    margin-top: 1em;
    max-width: 600px;
    width: 100%;
    }

    .card-container {
        padding: 70px
     45px;
    }
}

