.faq{
    color:var(--text-primary);
}

li{
    list-style-type: none;
}

.faq>ul>li>button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 790px;
    padding: 30px;
    background-color: #303030;
    color: var(--text-primary);
    font-size: 1.5rem;
}

.faq>ul>li>button>image{
    color:white;
}