@media (max-width: 550px) {
    .overlay {
        height: 550px;

        & > img {
            @extend .overlay;
        }

        & > .opacity {
            @extend .overlay;
        }

        & > .overlay-header {
            padding: 40px 20px;

            & > div {
                & > img {
                    height: 13px;
                }

                & > select {
                    margin-right: 10px;
                    padding: 0 0 0 20px;
                    font-size: 0.8rem;
                }

                & > a {
                    font-size: 0.9rem;
                    padding: 2px 7px;
                }
            }
        }

        & > .overlay-content {
            top: 0;

            & > div {
                & > h1 {
                    width: 90%;
                    font-size: 1.6rem;
                    margin-inline: auto;
                    margin-bottom: 20px;
                }

                & > h2 {
                    width: 90%;
                    font-size: 1.1rem;
                    margin: 0 auto;
                }

                & > p {
                    width: 90%;
                    font-size: 1.1rem;
                    margin: 0 auto;
                    line-height: 1;
                }

                & > form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 0 5%;
                    gap: 22px;

                    & > input {
                        height: 45px;
                        width: 90%;
                        padding-block: 10px;
                        margin-top: 10px;
                    }

                    & > button {
                        height: 100%;
                        width: 80px;
                        font-size: 18px;
                        padding-block: 5px;
                        margin-top: 0;

                        & > img {
                            height: 14px;
                            bottom: 6px;
                        }
                    }
                }
            }
        }
    }
}