@media (max-width: 550px) {
    .overlay {
        max-width: 550px;
        height: 650px;

        & > .opacity {
            @extend .overlay
        }

        & > .overlay-header {
            margin: 0 5%;
            max-width: 100%;
            padding: 28px 0px 0px;
            img {
                width: 15px;
                margin-right: auto;
            }

            & > select {
                padding: 0;
            }
        }

        & > .overlay-content {
            top: 0;

            & > div {
                & > h1 {
                    margin: 0 auto;
                    width: 90%;
                    font-size: 1.75rem;
                    margin-right: auto;
                }

                & > h2 {
                    width: 90%;
                    font-size: 18px;
                    margin: auto;
                }

                & > p {
                    width: 90%;
                    font-size: 18px;
                    margin: auto;
                    line-height: 1;
                }

                & > form {
                    & > input {
                        height: 45px;
                    }

                    & > button {
                        height: 40px;
                        width: 80px;
                        font-size: 18px;
                        margin-top: 15px;

                        & > img {
                            height: 14px;
                            bottom: 6px;
                        }
                    }
                }
            }
        }
    }
}