@media (max-width: 550px) {
    .faq-container {
        width: 100%;
        padding-inline: 0;

        & > h1 {
            font-size: 1.6rem;
        }

        .faq {
            width: 100%;
            margin-inline: 0;
            padding-inline: 0;

            & > .accordion-item {
                width: 100%;
            }
        }

        & > div:last-child {
            & > p {
                width: 80%;
                font-size: 18px;
                margin: 15px auto;
                line-height: 1;
            }

            & > form {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0 5%;
                gap: 22px;

                & > input {
                    height: 48px;
                    width: 90%;
                    padding: 10px 10px 0;
                }

                & > button {
                    font-size: 1rem;

                    & > img {
                        height: 12px;
                    }
                }
            }
        }
    }
}