@media (max-width: 950px) {
    .faq-container {
        & > .faq {
            width: 100%;
            align-items: center;

            & > .accordion-item {
                width: 85%;

                & > .accordion-header {
                    height: 60px;

                    & > .accordion-button {
                        height: 100%;
                        font-size: 1.3rem;
                    }
                }

                .accordion-body {
                    font-size: 1.3rem;
                }
            }
        }

        & > div:last-child {
            & > p {
                width: 60%;
            }

            & > form {
                flex-direction: column;
                gap: 15px;

                & > button {
                    height: 40px;
                    width: 85px;
                    font-size: 1rem;
                    gap: 5px;
                    border-radius: 2px;

                    & > img {
                        height: 12px;
                    }
                }
            }
        }
    }
}